---
{{ ansible_managed | comment }}
collectors:
  enabled: "{{ windows_exporter__enabled_collectors }}"
{% if windows_exporter__collector | length > 0 %}
collector:
{% for collector in windows_exporter__collector %}
  {{ collector.name }}:
{% for key, value in collector.flags.items() %}
    {{ key }}: {{ value }}
{% endfor %}
{% endfor %}
{% endif %}
log:
  level: {{ windows_exporter__log_level }}
scrape:
  timeout-margin: 0.5
telemetry:
  addr: "{{ windows_exporter__listen_address }}:{{ windows_exporter__listen_port }}"
  path: {{ windows_exporter__metrics_path }}
  max-requests: 5
