---
{{ ansible_managed | comment }}
collectors:
  enabled: "{{ windows_exporter_collectors_enabled }}"
{% if windows_exporter_collector | length > 0 %}
collector:
{% for collector in windows_exporter_collector %}
  {{ collector.name }}:
{% for key, value in collector.flags.items() %}
    {{ key }}: {{ value }}
{% endfor %}
{% endfor %}
{% endif %}
log:
  file: {{ windows_exporter_log_file }}
  format: {{ windows_exporter_log_format }}
  level: {{ windows_exporter_log_level }}
scrape:
  timeout-margin: {{ windows_exporter_timeout_margin }}
telemetry:
  addr: "{{ windows_exporter_listen_address }}:{{ windows_exporter_listen_port }}"
  path: {{ windows_exporter_metrics_path }}
  max-requests: {{ windows_exporter_max_requests }}